body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.8s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: white;
  transition: background-color 0.8s ease;
}
